/INSTALL
/aclocal.m4
/autom4te.cache
/build
/configure
/tests/package.m4
/tests/testsuite
/testsuite.dir
/Makefile
/admin/compile
/admin/depcomp
/atconfig
/config.status
/src/.deps
/src/.dirstamp
/src/settings.py
/src/sigul
/src/sigul_bridge
/src/sigul_server
/src/sigul_server_add_admin
/src/sigul_server_create_db
/src/sigul-ostree-helper
Makefile.in
*.pyc
*.o
